@model IList<KolekcjaKart.Models.CardViewModel>
@using KolekcjaKart.Data.Models;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Galeria kart</h1>
    <div class="d-flex flex-wrap">
        @foreach (var (card, i) in Model.Select((v, i) => (v, i)))
        {
        <div class="card m-2" style="width: 18rem;">
            <div class="d-flex flex-row justify-content-between">
                <div class="badge rounded-pill badge-primary p-2">
                    @card.Cost
                </div>
                <div class="badge rounded-pill badge-warning p-2">
                    @card.Power
                </div>
            </div>
            <img class="card-img-top" src="@card.Url" alt="Card image">
            <div class="card-body d-flex flex-column ">
                <h5 class="card-title">@card.Name</h5>
                <p class="badge badge-secondary">@Html.DisplayFor(m => m[i].Pool)</p>
                <p class="card-text">
                    @if (card.CardEffectType != CardEffectType.NO_EFFECT && card.CardEffectType != CardEffectType.DIFFERENT)
                    {
                    <span class="font-weight-bold">@Html.DisplayFor(m => m[i].CardEffectType):</span>
                    }
                    @card.Text
                </p>
                <div class="mt-auto">
                    <a role="button" href='@Url.Action("Edit", new { @id = card.CardId })' class="btn btn-secondary btn-sm">Zmodyfikuj</a>
                    <a role="button" href='@Url.Action("Delete", new { @id = card.CardId })' class="btn btn-danger btn-sm">Usuń</a>
                </div>
            </div>
        </div>
        }
    </div>
</div>
