@model IEnumerable<KolekcjaKart.Models.CardViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Galeria kart</h1>
    <div class="d-flex flex-wrap">
        @foreach (var card in Model)
        {
        <div class="card m-2" style="width: 18rem;">
            <div class="d-flex flex-row justify-content-between">
                <div class="badge rounded-pill badge-primary p-2">
                    @card.Cost
                </div>
                <div class="badge rounded-pill badge-warning p-2">
                    @card.Power
                </div>
            </div>
            <img class="card-img-top" src="@card.Url" alt="Card image">
            <div class="card-body">
                <h5 class="card-title">@card.Name</h5>
                <p class="card-text">@card.Text</p>
                <div>
                    <a role="button" href="#" class="btn btn-info btn-sm">Detale</a>
                    <a role="button" href="#" class="btn btn-secondary btn-sm">Zmodyfikuj</a>
                    <a role ="button" href="#" class="btn btn-danger btn-sm">Usuń</a>
                </div>
            </div>
        </div>
        }
    </div>
</div>
